$prefix: "tblr" !default;

$black: #000000 !default;
$white: #ffffff !default;

$primary: #042b57 !default;

$body-color: #182433 !default;
$body-bg: #f6f8fb !default;

$page-padding: 1.5rem;
$page-padding-y: 3rem;

$border-color: #091d30 !default;
$border-width: 1px;
