@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>
<div class="page-body">
<div class="container-fluid">
	<h1>You are authenticated</h1>

	<AuthorizeView>
		Hello @context.User.Identity?.Name!
	</AuthorizeView>
</div>
</div>
