<ul class="navbar-nav pt-lg-3">
<AuthorizeView>
	<li class="nav-item">
		<NavLink class="nav-link" ActiveClass="active" href="/" Match="NavLinkMatch.All">
			<span class="nav-link-icon d-md-none d-lg-inline-block"><IconHome/></span>
			<span class="nav-link-title">Dashboard</span>
		</NavLink>
	</li>
</AuthorizeView>
</ul>

@code {

}
